body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: #ff6347;
  font-weight: bold;
  text-decoration: underline;
}

#or{
  text-align: center;
  font-weight: bold;
}

#ramen-menu {
  display: flex;
  gap: 10px;
  padding-left: 8px; 
  overflow-x: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid #000000;
  border-radius: 7px;
}

#ramen-menu img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#ramen-menu img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(106, 94, 94, 0.2);
}

#ramen-detail {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(73, 65, 65, 0.705);
}

#ramen-detail img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

#name, #restaurant, #rating, #comment {
  margin: 5px 0;
  font-size: 16px;
}

form {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #000000;
  outline: none;
  cursor:auto ;
}

#create{
  background-color: rgb(2, 203, 2);
}

#create:hover{
  background-color: rgb(10, 158, 10);
  cursor: pointer;
  color:white;
}



